<!--<div class="container mt-5">-->
<!--  <div class="d-flex justify-content-center row mt-5" *ngFor="let ques of listQuestion ; let i = index">-->
<!--    <div class="col-md-10 col-lg-10">-->
<!--      <div class="border">-->
<!--        <div class="question bg-white p-3 border-bottom">-->
<!--          <div class="d-flex flex-row align-items-center question-title">-->
<!--            <h3 class="text-danger">Câu {{i + 1}}</h3>-->
<!--            <h5 class="mt-1 ml-2">{{ques.question}}</h5>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="question bg-white p-3 border-bottom" *ngFor="let choice of ques.answer">-->
<!--          <div class="ans ml-2">-->
<!--            <input type="radio" name="check" id="a" value="brazil" class="mr-2" (click)="choose('a')"><span>{{choice}}</span>-->
<!--          </div>-->
<!--          <div class="ans ml-2">-->
<!--             <input type="radio" name="check" id="b" value="Germany" class="mr-2" (click)="choose('b')"> <span>{{data.answer.answerB}}</span>-->
<!--          </div>-->
<!--          <div class="ans ml-2">-->
<!--            <input type="radio" name="check" id="c" value="Indonesia" class="mr-2" (click)="choose('c')"> <span>{{data.answer.answerC}}</span>-->

<!--          </div>-->
<!--          <div class="ans ml-2">-->
<!--            <input type="radio" name="check" id="d" value="Russia" class="mr-2" (click)="choose('d')"> <span>{{data.answer.answerD}}</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button class="btn btn-primary">Nộp bài</button>-->
<!--</div>-->
<div class="flex justify-between px-4 py-4 bg-white shadow-lg rounded-md sticky z-30" style="top: -8px">
  <div>Thời gian còn lại là : <span class="font-bold text-xl text-error">{{display}}</span></div>
  <div class="">
  </div>

</div>

<div class="container mt-5">
  <div
    class="d-flex justify-content-center row mt-5"
    *ngFor="let ques of listQuestion; let i = index"
  >
    <div class="col-md-10 col-lg-10">
      <div class="border">
        <div class="question bg-white p-3 border-bottom">
          <div class="d-flex flex-row align-items-center question-title">
            <h3 class="text-danger" style="width: 10%">Câu {{ i + 1 }}</h3>
            <h5 class="mt-1 ml-2">{{ ques.question }}</h5>
            <div class="question bg-white p-3 border-bottom">

            </div>
<!--            <span *ngFor="let q of ques.answer | keyvalue; let i = index">-->
<!--            </span>-->
          </div>
        </div>
        <div class="question bg-white p-3 border-bottom">
          <div
            class="ans ml-2"
            *ngFor="let q of ques.answer | keyvalue; let i = index"
          >
            <input
              type="radio"
              name="{{ques.id}}"
              id="a"
              value="{{ q.key }}"
              (change)="change(q, ques.id)"
              class="mr-2"
            /><span>{{ q.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="question bg-white p-3 ">
    <div class="col-md-10 col-lg-10">
      <button class="btn btn-primary" style="margin-left: 61px;" (click)="openModalXacNhan()">Nộp bài</button>
    </div>
  </div>
</div>
