<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-primary" style="justify-content: space-between;">
    <div class="navbar-nav">
        <a style="color: white" class="nav-item nav-link" routerLink="/">{{ 'HOME.TITLE' | translate }}</a>
        <a style="color: white" class="nav-item nav-link" routerLink="/register" *ngIf="!user"> {{ 'HOME.DK' | translate }}</a>
        <a style="color: white" class="nav-item nav-link" routerLink="/login" *ngIf="!user">{{ 'HOME.LG' | translate }}</a>
        <a style="color: white" class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">{{ 'HOME.BK' | translate }}</a>
        <a style="color: white" class="nav-item nav-link" routerLink="/test" *ngIf="isAdmin">{{ 'HOME.EX' | translate }}</a>
        <a style="color: white" class="nav-item nav-link" routerLink="/ki-thi" *ngIf="isUser">{{ 'Kỳ thi đang diễn ra' | translate }}</a>
        <a style="color: white" class="nav-item nav-link" routerLink="/xem-diem-cac-lan-thi" *ngIf="isUser">{{ 'Xem điểm các lần thi' | translate }}</a>
<!--        <a style="color: white" class="nav-item nav-link" (click)="logout()" *ngIf="user">Logout</a>-->
    </div>
  <div class="form-inline my-2 my-lg-0">
    <select class="mr-2" #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
    <button class="btn btn-danger my-2 my-sm-0" type="submit" (click)="logout()" *ngIf="user">{{ 'HOME.LO' | translate }}</button>
  </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
<notifier-container></notifier-container>
<!-- credits -->
