<div class="card mt-4">
  <h4 class="card-header">{{ 'HOME.addexam' | translate }}</h4>
  <div class="card-body">
    <div class="-mx-3 md:flex mb-2 w-full">
      {{ 'BANK.chude' | translate }}<br>
      <input id="THDC" name="check" class="" type="radio" [checked]="questionType === 'THDC'"
             (click)="handleChange('THDC')"> {{ 'BANK.thdc' | translate }}<br>
      <input id="TKWC" name="check" class="mb-5" type="radio" [checked]="questionType === 'TKWS'"
             (click)="handleChange('TKWS')"> {{ 'BANK.tkws' | translate }}
      <kendo-grid [data]="dataGrid"
                  [style.maxHeight.px]="500"
                  [kendoGridSelectBy]="'id'"
                  (selectedKeysChange)="onChange($event)"
                  [selectedKeys]="mySelection"
                  [selectable]="{checkboxOnly : true}">
        <kendo-grid-checkbox-column [columnMenu]="false" headerClass="text-center"
                                    [resizable]="false" [width]="45" showSelectAll="true"
                                    class="text-center">
          <ng-template let-dataItem="dataItem">
            <input type="checkbox" kendoCheckBox>
          </ng-template>
        </kendo-grid-checkbox-column>
        <kendo-grid-column  title="{{ 'BANK.stt' | translate }}" [width]="45" class="text-center"
                            headerClass="text-center font-weight-bold" editable="false">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="question" headerClass="text-center font-weight-bold" editor="text"
                           title="{{ 'BANK.content' | translate }}">

        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="difficulty" headerClass="text-center font-weight-bold" editor="text"
                           title="{{ 'Mức độ câu hỏi' | translate }}">

        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="correctAnswer" headerClass="text-center font-weight-bold" editor="text"
                           title="{{ 'BANK.correct' | translate }}">

        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="questionType" headerClass="text-center font-weight-bold" editor="text"
                           title="{{ 'BANK.type' | translate }}">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{getLogType(dataItem.questionType)}}
          </ng-template>
        </kendo-grid-column>
      </kendo-grid><br>
      <div class="custom-loading-h">
        <div *ngIf="loading" class="k-i-loading"></div>
      </div>
      <div class="mt-1">
        {{ 'HOME.made' | translate }}<br>
        <input type="text" [(ngModel)]="testCode">
      </div>
      <div class="mt-3">
        {{ 'HOME.soluongcauhoi' | translate }}<br>
        <input type="number" [(ngModel)]="numberQuestion">
      </div>
      <div class="mt-3">
        {{ 'Thời gian làm bài' | translate }}<br>
        <input type="number" [(ngModel)]="time">
      </div>
      <div class="mt-3">
        <button class="btn btn-primary" (click)="save()">{{ 'HOME.addexam' | translate }}</button>
      </div>
    </div>
  </div>
</div>
