<!--<div class="card-title" id="card-title">-->
<!--  <span class="card-icon">-->
<!--    -->
<!--  </span>-->
<!--</div>-->
<div class="card mt-4">
  <h4 class="card-header">{{ 'HOME.BK' | translate }}</h4>
  <div class="card-body">
    <div class="-mx-3 md:flex mb-2 w-full">
      <button class="btn btn-primary btn-sm mb-3" (click)="openModalAddQuestion()">{{ 'BANK.add' | translate }}</button>
      <kendo-grid [data]="listQuestion"
                  [style.maxHeight.px]="500"
                  [kendoGridSelectBy]="'id'"
                  (selectedKeysChange)="onChange($event)"
                  [selectedKeys]="mySelection"
                  [selectable]="{checkboxOnly : true}">
        <kendo-grid-checkbox-column [columnMenu]="false" headerClass="text-center"
                                    [resizable]="false" [width]="45" showSelectAll="true"
                                    class="text-center">
          <ng-template let-dataItem="dataItem">
            <input type="checkbox" kendoCheckBox>
          </ng-template>
        </kendo-grid-checkbox-column>
        <kendo-grid-column  title="{{ 'BANK.stt' | translate }}" [width]="45" class="text-center"
                           headerClass="text-center font-weight-bold" editable="false">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column  headerClass="text-center font-weight-bold" title="{{ 'BANK.action' | translate }}" [width]="100" [resizable]="false" sortable="false"
                                    [columnMenu]="false">
          <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            <div class="d-flex justify-content-around align-items-center">
              <button placement="top" container="body" ngbTooltip="{{ 'BANK.edit' | translate }}"
                      kendoGridEditCommand class="btn btn-primary button-icon" (click)="edit(dataItem)">
                <i class="fa fa-pencil"></i>
              </button>
              <button placement="top" container="body" ngbTooltip="{{ 'BANK.delete' | translate }}"
                      kendoGridEditCommand class="btn btn-danger button-icon" (click)="delete(dataItem)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-column [width]="200" field="question" headerClass="text-center font-weight-bold" editor="text"
                           title="{{ 'BANK.content' | translate }}">

        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="correctAnswer" headerClass="text-center font-weight-bold" editor="text"
                           title="{{ 'BANK.correct' | translate }}">

        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="questionType" headerClass="text-center font-weight-bold" editor="text"
                           title="{{ 'BANK.type' | translate }}">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{getLogType(dataItem.questionType)}}
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
      <div class="custom-loading-h">
        <div *ngIf="loading" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
