<!--<div class="card-title" id="card-title">-->
<!--  <span class="card-icon">-->
<!--    -->
<!--  </span>-->
<!--</div>-->
<div class="card mt-4">
  <h4 class="card-header">Ngân hàng câu hỏi</h4>
  <div class="card-body">
    <div class="-mx-3 md:flex mb-2 w-full">
      <button class="btn btn-primary btn-sm mb-3" (click)="openModalAddQuestion()">Thêm câu hỏi</button>
      <kendo-grid [data]="listQuestion"
                  [style.maxHeight.px]="500">
        <kendo-grid-column  title="STT" [width]="45" class="text-center"
                           headerClass="text-center font-weight-bold" editable="false">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="question" headerClass="text-center font-weight-bold" editor="text"
                           title="Nội dung câu hỏi">

        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="correctAnswer" headerClass="text-center font-weight-bold" editor="text"
                           title="Đáp án đúng">

        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="questionType" headerClass="text-center font-weight-bold" editor="text"
                           title="Loại câu hỏi">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{getLogType(dataItem.questionType)}}
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
