<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button class="btn-close-h" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-body">
    <div class="-mx-3 md:flex mb-2 w-full">
      <div class="md:w-full px-3">
        <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
        >
          {{ 'BANK.content' | translate }}
        </label>
        <input
          [(ngModel)]="question"
          class=" w-100 appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
          id="frm-add-username"
          type="text"
          placeholder="{{ 'BANK.nhapcontent' | translate }}"
          autocomplete="off">
        <div *ngIf="question === null || question === ''">
          <span class="text-error">{{ 'BANK.noti' | translate }}</span>
        </div>
      </div>
      <div class="md:w-full px-3">
        <div class="mt-2" style="border-bottom: solid 1px "></div>
      </div>


      <div class="md:w-full px-3 mt-3">
        <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
        >{{ 'BANK.a' | translate }}
        </label>
        <input
          [(ngModel)]="answerA"
          class=" w-100 appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
          type="text"
          placeholder="{{ 'BANK.nhap' | translate }}"
          autocomplete="off">
      </div>
      <div class="md:w-full px-3 mt-3">
        <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
        >{{ 'BANK.b' | translate }}
        </label>
        <input
          [(ngModel)]="answerB"
          class=" w-100 appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
          type="text"
          placeholder="{{ 'BANK.nhap' | translate }}"
          autocomplete="off">

      </div>
      <div class="md:w-full px-3 mt-3">
        <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
        >{{ 'BANK.c' | translate }}
        </label>
        <input
          [(ngModel)]="answerC"
          class=" w-100 appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
          type="text"
          placeholder="{{ 'BANK.nhap' | translate }}"
          autocomplete="off">

      </div>
      <div class="md:w-full px-3 mt-3">
        <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
        >{{ 'BANK.d' | translate }}
        </label>
        <input
          [(ngModel)]="answerD"
          class=" w-100 appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
          type="text"
          placeholder="{{ 'BANK.nhap' | translate }}"
          autocomplete="off">

        <div class="md:w-full px-3 mt-3 ml-0">
          <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
          >{{ 'BANK.chude' | translate }}
          </label> <br>
          <input id="THDC" name="check" class="" type="radio" [checked]="questionType === 'THDC'"
                 (click)="handleChange('THDC')"> {{ 'BANK.thdc' | translate }}<br>
          <input id="TKWC" name="check" class="" type="radio" [checked]="questionType === 'TKWS'"
                 (click)="handleChange('TKWS')"> {{ 'BANK.tkws' | translate }}
        </div>
        <div class="md:w-full px-3 mt-3 ml-0">
          <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
          >{{ 'BANK.correct' | translate }}
          </label> <br>
          <input id="a" name="check1" class="" type="radio" [checked]="correctAnswer === 'A'" (click)="trueAnswer('a')">
          {{ 'BANK.a' | translate }}<br>
          <input id="b" name="check1" class="" type="radio" [checked]="correctAnswer === 'B'" (click)="trueAnswer('b')">
          {{ 'BANK.b' | translate }}<br>
          <input id="c" name="check1" class="" type="radio" [checked]="correctAnswer === 'C'" (click)="trueAnswer('c')">
          {{ 'BANK.c' | translate }}<br>
          <input id="d" name="check1" class="" type="radio" [checked]="correctAnswer === 'D'" (click)="trueAnswer('d')">
          {{ 'BANK.d' | translate }}<br>
        </div>
        <div class="md:w-full px-3 mt-3 ml-0">
          <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
          >{{ 'HOME.levelQ' | translate }}
          </label> <br>
          <input id="ez" name="dokho" class="" type="radio" [checked]="levelQ === 'Easy'" (click)="level('easy')">
          {{ 'HOME.ez' | translate }}<br>
          <input id="medi" name="dokho" class="" type="radio" [checked]="levelQ === 'Medium'" (click)="level('medium')">
          {{ 'HOME.tb' | translate }}<br>
          <input id="hard" name="dokho" class="" type="radio" [checked]="levelQ === 'Hard'" (click)="level('hard')">
          {{ 'HOME.hard' | translate }}<br>
        </div>
      </div>
      <div class="md:w-full px-3 mt-3">
        <button (click)="save()" type="button"
                class=" btn-primary mx-auto my-3 py-2 w-32 bg-blue-300 text-blue-700 hover:bg-blue-400 rounded-md focus:outline-none hover:text-blue-800 shadow-md">
          {{ 'BANK.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

