<div class="card mt-4">
  <h4 class="card-header">Tạo câu hỏi</h4>
  <div class="card-body">
    <div class="-mx-3 md:flex mb-2 w-full">
      <div class="md:w-full px-3">
        <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2"
        >
          Nội dung câu hỏi
        </label>
        <input
          class=" w-100 appearance-none border rounded-md w-full py-2 px-3 my-1 text-gray-600 bg-gray-200 leading-tight outline-none focus:border-green-500"
          id="frm-add-username"
          type="text"
          placeholder="Nhập nội dung"
          autocomplete="off">
        <button type="button" class=" btn-primary mx-auto my-3 py-2 w-32 bg-blue-300 text-blue-700 hover:bg-blue-400 rounded-md focus:outline-none hover:text-blue-800 shadow-md">Thêm đáp
          án
        </button>
      </div>
    </div>
  </div>
</div>
