/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }
.button-icon {
  width: 30px !important;
  height: 30px !important;
  border-radius: .25rem !important;
  padding: .45rem !important;
  font-size: .925rem;
  line-height: 1.35;

  i {
    font-size: 15px !important;
  }
}
.text-error{
  font-size: 12px;
  color: red;
  margin-top: 4px;
}
.custom-loading-h .k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.192);
  color: var(--background);
  z-index: 9999;
}
.btn-close-h {
  background: none;
  border: none;

  span {
    font-size: 20px;
  }
}
