<div class="banner" style="height: 690px">
  <div class="middle">
    <h1>{{ 'HOME.TT1' | translate }}</h1>
    <p style="color: white">{{ 'HOME.TT2' | translate }}</p>
    <div class=" row justify-content-center mt-5">
      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box" style="height: 440px">
          <div class="img">
            <img style="margin: 50px 56px" src="https://s.tracnghiem.net/assets/images/home/feature1.jpg"
                 alt="Đề thi học kỳ">
          </div>
          <h3 style="margin: 0px 20px">{{ 'HOME.EX1' | translate }}</h3>
          <p style="font-size: 12px; margin:20px 20px">{{ 'HOME.EX1.1' | translate }}</p>
          <button class="btn btn-primary text-left mt-3 mb-3" [routerLink]="['/quiz']">
            {{ 'HOME.BTN-DO-TRY' | translate }}
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box" style="height: 440px">
          <div class="img">
            <img style="margin: 35px 56px" src="https://s.tracnghiem.net/assets/images/home/feature2.jpg"
                 alt="Đề thi THPT QG">
          </div>
          <h3 style="margin: 0px 20px">{{ 'HOME.EX2' | translate }}</h3>
          <p style="font-size: 12px; margin:20px 20px">{{ 'HOME.EX2.1' | translate }}</p>
          <button class="btn btn-primary text-left mt-3 mb-3">
            {{ 'HOME.BTN-DO-TRY' | translate }}
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box" style="height: 440px">
          <div class="img">
            <img style="margin: 42px 49px" src="https://s.tracnghiem.net/assets/images/home/feature3.jpg"
                 alt="Đề kiểm tra">
          </div>
          <h3 style="margin: 0px 20px">{{ 'HOME.EX3' | translate }}</h3>
          <p style="font-size: 12px; margin:20px 20px">{{ 'HOME.EX3.1' | translate }}</p>
          <button class="btn btn-primary text-left mt-3 mb-3">
            {{ 'HOME.BTN-DO-TRY' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="lession-list mt-5">
  <div class="bg white l02 hover-link">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 col-sm-12">
          <div class="center bg-lession"></div>
        </div>
        <div class="col-12 col-lg-6 col-sm-12">
          <div class="row">
            <div style="margin: 120px 20px">
              <h1 class="text-left">{{ 'HOME.EX4' | translate }}</h1>
              <p class="text-left mt-3">{{ 'HOME.EX4.1' | translate }}</p>
              <button class="btn btn-primary text-left mt-3">
                {{ 'HOME.BTN-DO-TRY' | translate }}
              </button>
            </div>
          </div>
          <!--            <div class="lession-box">-->
          <!--              Trắc nghiệm IT-->

          <!--              Hệ thống các bài trắc nghiệm online về tin học văn phòng, tin học cơ bản, lập trình, quản trị hệ thống, chứng chỉ quốc tế giúp các bạn ôn luyện và thi các chứng chỉ về CNTT-->
          <!--              <a href="https://tracnghiem.net/cntt/" class="btn orange">Làm ngay</a>-->
          <!--            </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="title40Bold center-title" style="text-align: center"><span>{{ 'HOME.TT3' | translate }}</span></h2>
  <div class="row justify-content-between mt-5">
    <div class="col-4 col-lg-3 col-sm-4 col-custom-padding">
      <div class="smart-box">
        <div class="green-rect"><img style="height: 200px; width: 240px" src="../../assets/idea.jpg"
                                     alt="Đa dạng nội dung"></div>
        <h3 class="title25Bold">{{ 'HOME.TT4' | translate }}</h3>
        <p>{{ 'HOME.TT4.1' | translate }}</p>
      </div>
    </div>

    <div class="col-4 col-lg-3 col-sm-4 col-custom-padding">
      <div class="smart-box">
        <div class="green-rect"><img style="height: 200px; width: 240px" src="../../assets/1.png"
                                     alt="Đa dạng nội dung"></div>
        <h3 class="title25Bold">{{ 'HOME.TT5' | translate }}</h3>
        <p>{{ 'HOME.TT5.1' | translate }}</p>
      </div>
    </div>
    <div class="col-4 col-lg-3 col-sm-4 col-custom-padding">
      <div class="smart-box">
        <div class="green-rect"><img style="height: 200px; width: 240px" src="../../assets/mach.jpg"
                                     alt="Đa dạng nội dung"></div>
        <h3 class="title25Bold">{{ 'HOME.TT6' | translate }}</h3>
        <p>{{ 'HOME.TT6.1' | translate }}</p>
      </div>
    </div>
  </div>
</div>
