<div class="banner" style="height: 690px">
  <div class="middle">
    <h1>TRẮC NGHIỆM ONLINE</h1>
    <p style="color: white">ĐA DẠNG - THÔNG MINH - CHÍNH XÁC</p>
    <div class=" row justify-content-center mt-5">
      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box" style="height: 440px">
          <div class="img">
            <img style="margin: 50px 56px" src="https://s.tracnghiem.net/assets/images/home/feature1.jpg"
                 alt="Đề thi học kỳ">
          </div>
          <h3 style="margin: 0px 20px">Đề thi Tin học đại cương</h3>
          <p style="font-size: 12px; margin:20px 20px">Ngân hàng câu hỏi đầy đủ các môn word, sử dụng máy tính cơ bản
            được trộn tạo đề theo cấu trúc phân loại giúp các em dễ dàng ôn tập online.</p>
          <button class="btn btn-primary text-left mt-3 mb-3" [routerLink]="['/quiz']">
            Làm ngay
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box" style="height: 440px">
          <div class="img">
            <img style="margin: 35px 56px" src="https://s.tracnghiem.net/assets/images/home/feature2.jpg"
                 alt="Đề thi THPT QG">
          </div>
          <h3 style="margin: 0px 20px">Đề thi HTML&CSS</h3>
          <p style="font-size: 12px; margin:20px 20px">Ngân hàng câu hỏi đầy đủ các câu hỏi từ cơ bản đến nâng cao được
            trộn tạo đề theo cấu trúc phân loại giúp các em dễ dàng ôn tập online.</p>
          <button class="btn btn-primary text-left mt-3 mb-3">
            Làm ngay
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-3 col-sm-12 relative hover-link">
        <div class="shadow-box" style="height: 440px">
          <div class="img">
            <img style="margin: 42px 49px" src="https://s.tracnghiem.net/assets/images/home/feature3.jpg"
                 alt="Đề kiểm tra">
          </div>
          <h3 style="margin: 0px 20px">Đề kiểm tra tổng hợp</h3>
          <p style="font-size: 12px; margin:20px 20px">Ngân hàng câu hỏi đầy đủ các câu hỏi từ cơ bản đến nâng cao được
            trộn tạo đề theo cấu trúc phân loại giúp các em dễ dàng ôn tập online.</p>
          <button class="btn btn-primary text-left mt-3 mb-3">
            Làm ngay
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="lession-list mt-5">
  <div class="bg white l02 hover-link">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 col-sm-12">
          <div class="center bg-lession"></div>
        </div>
        <div class="col-12 col-lg-6 col-sm-12">
          <div class="row">
            <div style="margin: 120px 20px">
              <h1 class="text-left">Trắc nghiệm IT</h1>
              <p class="text-left mt-3">Hệ thống các bài trắc nghiệm online về tin học văn phòng,
                tin học cơ bản, lập trình, quản trị hệ thống, chứng chỉ quốc tế giúp các bạn ôn luyện và thi các chứng
                chỉ về CNTT.</p>
              <button class="btn btn-primary text-left mt-3">
                Làm ngay
              </button>
            </div>
          </div>
          <!--            <div class="lession-box">-->
          <!--              Trắc nghiệm IT-->

          <!--              Hệ thống các bài trắc nghiệm online về tin học văn phòng, tin học cơ bản, lập trình, quản trị hệ thống, chứng chỉ quốc tế giúp các bạn ôn luyện và thi các chứng chỉ về CNTT-->
          <!--              <a href="https://tracnghiem.net/cntt/" class="btn orange">Làm ngay</a>-->
          <!--            </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="title40Bold center-title" style="text-align: center"><span>TRẮC NGHIỆM</span><span> THÔNG MINH</span></h2>
  <div class="row justify-content-between mt-5">
    <div class="col-4 col-lg-3 col-sm-4 col-custom-padding">
      <div class="smart-box">
        <div class="green-rect"><img style="height: 200px; width: 240px" src="../../assets/idea.jpg"
                                     alt="Đa dạng nội dung"></div>
        <h3 class="title25Bold">Đa dạng nội dung</h3>
        <p>Cung cấp đa dạng nội dung các câu hỏi trắc nghiệm thuộc nhiều lĩnh vực khác nhau</p>
      </div>
    </div>

    <div class="col-4 col-lg-3 col-sm-4 col-custom-padding">
      <div class="smart-box">
        <div class="green-rect"><img style="height: 200px; width: 240px" src="../../assets/1.png"
                                     alt="Đa dạng nội dung"></div>
        <h3 class="title25Bold">Đa dạng nội dung</h3>
        <p>Cung cấp đa dạng nội dung các câu hỏi trắc nghiệm thuộc nhiều lĩnh vực khác nhau</p>
      </div>
    </div>
    <div class="col-4 col-lg-3 col-sm-4 col-custom-padding">
      <div class="smart-box">
        <div class="green-rect"><img style="height: 200px; width: 240px" src="../../assets/mach.jpg"
                                     alt="Đa dạng nội dung"></div>
        <h3 class="title25Bold">Ma trận câu hỏi</h3>
        <p>Hệ thống sẽ dựa vào ma trận câu hỏi phong phú để tự tổng hợp thành đề trắc nghiệm</p>
      </div>
    </div>
  </div>
</div>
